:host {
  display: flex;

  svg {
    margin-left: 1em;
    color: wheat;
  }

  .logo-text {
    margin-left: 5px;
    justify-content: center;
    color: wheat;
    display: flex;
    flex-direction: column;
    font: menu;
    font-size: 15px;
    font-weight: bold;
    cursor: default;
  }
}
