html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  font-family: Inter, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-sans;

  .cdk-overlay-container{
    .notification-success-snackbar{
      background: green;
    }
    .notification-warning-snackbar{
      background: rgb(255, 230, 0);
    }
    .notification-error-snackbar{
      background: red;
    }
  }
}
