$header-height: 60px;
$command-panel-width: 200px;
$normal-spacing: 8px;
$navigation-horizontal-gradient: linear-gradient(90deg, #19467b 0%, #164a88 15%, #104498 88%, #0b4aa1 96%);

$header-color: #004699;
$primary-light: #005dcf;
$content-card-color: rgb(248, 248, 240);

$background-color: #fafafa;

$container-border: 1px solid lightblue;

$command-color: #e7e7e7;
$command-disabled: #848484;